<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find morrf_ros)/launch/launch_morrf_node.launch"/>
    <node pkg="commander" type="config_window_.py" name="simple_config" output="screen"/>
    <node pkg="costmap_generator" type="costmap_subscriber" name="costmap_generator" output="screen"/>
</launch>
