<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find morrf_ros)/launch/launch_morrf_node.launch"/>
    <node pkg="commander" type="run_turtlebot_window.py" name="turtlebot_window" output="screen"/>
    <node pkg="costmap_generator" type="costmap_subscriber" name="costmap_generator" output="screen"/>
    <node pkg="april_tag_follower" type="run_follower.py" name="apriltag_follower" output="screen"/>
</launch>
